.gdquest-card{
    border-radius: 1em;
    background: linear-gradient(-45deg,rgba(141, 25, 215, 1) 0%, rgba(172, 60, 241, 1) 100%);
    padding: 1.0em 1.4em;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    overflow: hidden;
    .logo{
        position: absolute;
        top:-5%;
        left:-15%;
        height: 180%;
        fill: rgba(141, 25, 215, 1);
    }
    .content{
        z-index: 10;
    }
    .title{
        font-size: 1.6em;
        margin-bottom: var(--xss);
        font-weight: 700;
    }
    .subtitle{
        font-size: 1.2em;
        margin-bottom: var(--s);
        font-weight: 600;
        color: #FFD500;
    }
    a{
        color: var(--main-text-color);
        font-weight: 600;
        font-size: 1.2em;
    }
    .body{
        font-size: 1.2em;
        margin-bottom: var(--m);
        max-width: 60ch;
        font-weight: 500;
        p{
        margin-bottom: var(--s);
        }
        a{
        color: var(--main-text-color);
        text-decoration: none;
        font-weight: 600;
        &:hover{
            border-color: var(--main-text-color);
            border-bottom: solid;
        }
    }
  }
}