#donation-card{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 3em;
    justify-content: space-between;
    padding: 1em 2em;
    font-size: 1.6em;
    font-weight: 600;
    .color{
        color: #ff428e;
    }
}