.hero{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 80vh;
  .content{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1.2em;
    margin-right: 1.2em;
    width: 100%;
    max-width: 1400px;
  }
  h1{
    font-size: 1.2rem;
    margin-bottom: var(--xs);
    font-weight: 400;
    opacity: 60%;
  }
  h2{
    font-size: 1.4em;
    margin-bottom: var(--l);
  }
}