#toc-nav {
  display: none;
  position: absolute;
  height: 100%;
  left:0em;
  z-index: 10;
  ul{
    position: sticky;
    top: 2em;
    list-style: none;
    margin: 0;
    border-radius: 0.4em;
    font-size: 1.2em;
    display: grid;
    gap: 0.7rem;
  }
  li{
    margin-bottom: 0;
  }
  a{
    color: var(--main-text-color);
    text-decoration: none;
    opacity: 60%;
    position: relative;
    display: block;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    &::before{
      --size: 0.5rem;
      content: " ";
      position: absolute;
      background-color: var(--accent-color);
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
      left: -1rem;
      transition: opacity 0.3s ease-in 0.1s;
      opacity: 0%;
    }
    &:hover{
      opacity: 100%;
      transition: all 0.3s ease-in;
    }
  }
  a.current{
    opacity: 100%;
    transform: translateX(0.4em);
    &:before{
      opacity: 100%;
      transform: translate(0, -50%);
    }
  }
}

